.setting {
  width: unset;
  padding: 0 10px;
  border-radius: 10px 0 0 10px;

  .p-sidebar-header {
    justify-content: space-between;
  }

  .p-sidebar-content {
    display: flex;
    flex-direction: column;
  }

  .setting-header {
    .setting-header-title {
      font-weight: 700;
    }
  }

  .setting-content {
    flex: 1;

    .setting-list {
      display: flex;
      flex-direction: column;
      gap: 25px;

      + .setting-list {
        margin: 20px 0;
        padding: 20px 0;
        border-top: 1px solid #ccc;
      }

      .setting-item {
        display: flex;
        align-items: center;
        font-size: 14px;

        .setting-item-left {
          display: flex;
          align-items: center;
          gap: 10px;
          width: 130px;

          .setting-item-interaction {
            @include flex-center;
            min-width: 50px;
          }

          .setting-item-title {
            font-weight: 800;
          }
        }

        .setting-item-right {
          display: flex;
          align-items: center;
          gap: 10px;

          .setting-item-dropdown {
            min-width: 90px;
          }

          .setting-item-right-wrap {
            .setting-item-right-title {
              font-weight: 800;

              .setting-item-text-primary {
                color: $color-primary;
              }
            }

            .setting-item-right-list {
              display: flex;
              flex-direction: column;
              gap: 20px;
              margin-top: 20px;

              .setting-item-right-item {
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 14px;

                .setting-item-right-item-title {
                  min-width: 120px;
                }

                .setting-item-right-item-input {
                  min-width: 90px;
                }
              }

              @include setting-test-count;
            }
          }
        }
      }
    }
  }

  .setting-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 15px 0 15px;
    border-top: 1px solid #ccc;

    .p-button {
      min-width: 250px;
      padding: 10px;
      font-weight: 600;
    }
  }
}
